.search {
    margin: 0 auto;
    text-align: center;
}

.resultbox {
    margin-top: 10px;
    border-top: solid 1px #888;
    width: 100%
}

.column-left {
    float: left;
    display: inline-block;
    width: 500px;
    border-style:solid;
    border: 1px solid;
}

.column-right {
    float: right;
    display: inline-block;
    width: 500px;
    border-style:solid;
    border: 1px solid;
}

ul#results li:hover{
    cursor: pointer;
    font-weight: bold;
    color: #953b39;
}
li{
    list-style: none;
}